@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturCook:wght@700&display=swap" rel="stylesheet">

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'UnifrakturCook', cursive;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
    color:rgba(142, 87, 0, 0.744);
    font-family: 'Canterbury';
    transition: 0.4s ease;
}
.navigation a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    text-transform: uppercase;
    color:rgba(176, 173, 120, 0.849);
    text-decoration: none;
    padding-left: 30px;
    font-family: 'blackchancery';
    transition: 0.4s ease;
    
    
}
.navigation a:hover{
    color: rgb(186, 167, 145)
    
}
.logo:hover{
     color: burlywood;
}
section{
    padding: 100px 200px;
}
.main1{color: rgb(64, 64, 64);
    font-size: 30px;
    font-family: 'blackchancery';
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
 background-color: rgb(186, 167, 145);
    background-size: 100%;
    background-position: cover;
    background-attachment: fixed;
    
}
.main{
    color: rgb(64, 64, 64);
    font-size: 30px;
    font-family: 'blackchancery';
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(kendrick\ lm.jpg) no-repeat;
    background-size: 100%;
    background-position: cover;
    background-attachment: fixed;
    
}

h2{
    font-family: 'blackchancery' ;
}   


h1{

    font-family: 'blackchancery' ;
}
#span1{
    font-family: 'blackchancery';
}
.main1 h3{
   font-family: 'blackchancery' ;
    font-weight: 1000;
}
.main h3{
   font-family: 'blackchancery' ;
    font-weight: 1000;
}
.social-icons a{
    margin: 0 10px;
    color: rgb(64, 64, 64) ;
}
.main-btn{
    color: #f0f0f0;
    background-color: rgba(142, 87, 0, 0.744);
    text-decoration: none;
    font-size: 0.6em;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    transition: 0.6s ease;
}
.main-btn:hover{
    background-color: rgb(106, 60, 25) ;
    transform: scale(1.05);
}
.title{
    display: flex;
    justify-content: center;
    color:rgba(142, 87, 0, 0.744);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Canterbury';
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
      
}
.card{
    background-color: #f0f0f0;
    width: 15.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 /25%);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}


.icon{
    font-size: 4em;
    text-align: center ;
    
}
.info h3{ text-align: center;}
.info h3{
    font-size: 1.2em;
    font-family: 'blackchancery' ;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: rgb(186, 167, 145)
    
}
.projects .content{
    margin-top: 30px;
    

}

.project-card {
    background-color: #f0f0f0 ;
    border: 2px solid rgb(79, 70, 70);
    min-height: auto;
    width: 15em;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-shadow: 0 5px 25px rgba(1 1 1 /25%);
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}
.project-image img{
    width: 100%;
    
}
.project-info{
    padding: 1em;
}
.project-category{
    font-weight: 600;
    font-size: larger;
    text-transform: capitalize;
}
.project-title{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: small;
}
.project-title span{
    color: grey;
}
.view-album{
    text-decoration: none;

}
.footer {
    background-color: #ffffff;
    padding: 2em;
    font-family: 'blackchancery';
    display: flex;
    justify-content: space-between;


}
.footer-title{
    font-family: 'blackchancery';
    color: rgb(186, 167, 145);
    font-weight: 800;
    font-size: 1.3em;

}
.footer .social-icons {
    font-size: 2em;
    margin-top: -10px;
    padding-right: 10px;
}

@media (max-width:1023px){
 header{
    padding: 12px 18px;

     }
 .navigation a{ padding: 14px ;}
 .title {
    font-size: 1.8em;}
    section{ padding: 0px 20px;}
  
 .main-btn{
    font-size: 1em;
 }
.main h2{font-size: 1em;} 
.content{flex-direction: column;
align-items: center;}}
section.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f4f4f4; 
}

img{
   width: 40%;
}
.projects .title {
    font-size: 4rem;  
    text-align: center;  
    margin: 5px 0;  
  }

  #contact {
    text-align: center;  
    padding: 20px;       
  }
  
  #contact h1 {
    font-size: 3rem;     
    margin-bottom: 20px; 
  }
  
  #contact .social-icons a {
    display: block;      
    margin: 10px 0;      
    font-size: 1.2rem;   
    color: #000;         
    text-decoration: none; 
  }
  
  #contact .social-icons a:hover {
    color: white;      
  }
  
  #contact i {
    margin-right: 10px;  
  }
  
